/* Estilos generales a la pàgina */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* Contenedor con el flex y wrap */
.contenedor {
  margin: auto;
  width: 970px;
  display: flex;
  flex-wrap: wrap;
  border: #04743b 1px solid;
}
/* Clase para la fila, no hace mucho, bueno, casi nada */
.fila {
  justify-content: center;
}
/* ******Estilos iniciales al menù ********/
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04743b;
  margin-top: -3px;
}
.menu li {
  display: inline;
  float: left;
}
.menu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: white 1px solid;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.menu li a:hover {
  background-color: red;
  font-weight: bold;
}
/* *Fin de estilos al menù*** */

/* Contenedor main */
main {
  width: 970px;
}
/* Clase para centrar texto */
.texto-centrado {
  text-align: center;
}
/* ***Estilos al formulario */
.formulario {
  margin: 0.4em 0;
}
.formulario label {
  width: 25%;
  float: left;
  text-align: right;
  height: 25px;
  margin-top: 4px;
}

form {
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  margin-bottom: 2rem;
}
.formulario input[type="text"]{
  width: 200px;
  height: 25px;
  padding: 5px;
}
.formulario input[type="number"] {
  width: 200px;
}
.formulario input[type="date"] {
  width: 200px;
  height: 25px;
  padding: 5px;
}
.formulario select {
  width: 200px;
  height: 30px;
  padding: 5px;
}
.btn-pagar {
  color: #0099cc;
  background: transparent;
  border: 2px solid #0099cc;
  border-radius: 6px;
  color: #0099cc;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}
.btn-cancelar {
  color: #ff0000;
  background: transparent;
  border: 2px solid #ff0000;
  border-radius: 6px;
  color: #ff0000;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}
.btn-pagar :hover {
  background-color: #0099ca;
}
.btn-cancelar :hover {
  background-color: #ff0000;
  color: white;
}
.botones {
  margin-left: 150px;
}
.txt-input {
  border-radius: 5px;
  border: 1px solid #39c;
  height: 25px;
  padding: 5px;
}
/* Finde estilos al formulario */

/* Estilos para el total */
.total {
  font-size: 20px;
  background-color: tomato;
  color: #f9f9f9;
  font-weight: 400;
  padding: 2px;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

/* Estilos para el footer */
footer {
  background-color: #04743b;
  width: 970px;
  color: white;
}

/* Estilo para textos en el detalle de la venta */
.detalleSpan {
  font-size: 18px;
  font-weight: 400;
}

/* Estilo para la gasolina premium en las tablas */
.premium {
  background-color: #04743b;
  padding: 2px;
  border-radius: 4px;
  color: white;
}
/* Estilo para la gasolina magna en las tablas */
.magna {
  background-color: #ff0000;
  padding: 2px;
  border-radius: 4px;
  color: white;
}

/* Estilos a la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: tomato;
  color: white;
  border-bottom: red;
  padding: 10px;
}
th,
td {
  text-align: center;
  padding: 5px;
}
tfoot th {
  text-align: right;
}
table tr:nth-child(even) {
  background-color: lightgray;
}
tr:hover td {
  background-color: lightseagreen;
}
.btn-eliminar {
  padding: 4px;
  background-color: red;
  border-radius: 4px;
}
.btn-editar{
  padding: 4px;
  background-color:#0099cc;
  border-radius: 4px;
}
/* Finde estilos a la tabla */

/* Hacer una imagen redonda */
.redondo-img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border:#04743b 4px solid;
  display:block;
  margin: auto;
  margin-bottom: -75px;
}

/* Tarjeta Abaout */
.tarjeta-melis{
  padding-top: 80px;
  border: #04743b 3px solid;
  border-radius: 15px;
  margin: auto;
  width: 600px;
  margin-bottom: 15px;
  background-color: whitesmoke;
}
.destacado{
  font-size: 20px;
  font-weight: 400;
}

/* Estilo para gregar producto */
.agregar-prod{
  text-decoration: none;
  background-color:blue;
  color: white;
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: 600;
}
